USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Check_Part]    Script Date: 19/08/2025 12:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Check_Part]

@Client VARCHAR(48)
,@Part VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Server VARCHAR(50)
DECLARE @Database VARCHAR(50)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(255)
DECLARE @Site VARCHAR(255)

--=================================================================================================================================
-- START
--=================================================================================================================================

SET @Connection_String = (SELECT '['+[Server]+ '].[' + [Database] + '].dbo' FROM OneStock_Clients WHERE [Description] = @Client)

--================================================================================================================================
-- SELECT CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

SELECT
			COUNT(*) as [Result]
FROM 
			' + @Connection_String + '.part
			LEFT JOIN ' + @Connection_String + '.part_barc on part.part = part_barc.part
WHERE 
			part.part = ''' + RTRIM(@Part) + ''' OR	part_barc.bcode = ''' + RTRIM(@Part) + '''

'

--================================================================================================================================
-- EXECUTE DYNAMIC SQL
--================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)
