USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Clear_Results]    Script Date: 19/08/2025 12:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[OneStock_Clear_Results]

@Session_Id VARCHAR(255)

AS

--=================================================================================================================================
-- CLEAR RESULTS TABLES
--=================================================================================================================================

DELETE OneStock_Headers WHERE Session_Id = @Session_Id
DELETE OneStock_PO WHERE Session_Id = @Session_Id
DELETE OneStock_Scripts WHERE Session_Id = @Session_Id
DELETE OneStock_Stock WHERE Session_Id = @Session_Id