USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Get_Del_Date]    Script Date: 19/08/2025 12:39:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Get_Del_Date]

@Session_Id VARCHAR(255)
,@Part VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Site VARCHAR(255)
DECLARE @Del_Date VARCHAR(12) = '2050-12-31'
DECLARE @Row VARCHAR(12)
DECLARE @Due_Date VARCHAR(12)
DECLARE @PO_QTY VARCHAR(12)
DECLARE @Free_Stock FLOAT = (SELECT Free_Stock FROM OneStock_Headers WHERE Session_Id = @Session_Id)
DECLARE @Demand FLOAT = ISNULL((SELECT QTY_Dem FROM OneStock_Headers WHERE Session_Id = @Session_Id), 0) + 1
DECLARE @QTY_GI FLOAT = ISNULL((SELECT QTY_GI FROM OneStock_Headers WHERE Session_Id = @Session_Id), 0)
DECLARE @Pram INT = 0

--=================================================================================================================================
-- IS THERE ENOUGH FREE STOCK
--=================================================================================================================================

IF (@Free_Stock > 0) 
	BEGIN 
		SET @Del_Date = GETDATE()
		SET @Pram = 0
	END

--=================================================================================================================================
-- WILL THE STOCK IN GOODS IN FULFILL THE DEMAND
--=================================================================================================================================

ELSE 
	BEGIN 

		SET @Demand = @Demand - @QTY_GI

		IF (@Demand <= 0)
			BEGIN 
				SET @Del_Date = GETDATE() + 2
				SET @Pram = 1
			END

--=================================================================================================================================
-- WILL STOCK ON PURCHASE ORDERS FULFILL THE DEMAND
--=================================================================================================================================

		ELSE 
			BEGIN

				DECLARE db_Cursor CURSOR FOR

				SELECT 
							ROW_NUMBER() OVER(ORDER BY Due_Date ASC) AS Row
							,Due_Date
							,ISNULL(QTY_Out, 0)
				FROM 
							OneStock_PO
				WHERE 
							Session_Id = @Session_Id							

				-- ***START CURSOR TO ITERATE THROUGH PURCHASE ORDER*** --
				OPEN db_Cursor
				FETCH NEXT FROM db_Cursor INTO @Row, @Due_Date, @PO_QTY

				WHILE @@FETCH_STATUS = 0

				BEGIN 
					SET @Demand = @Demand - @PO_Qty
					IF (@Demand <= 0)
						BEGIN 
							-- ***IF DEMAND FULFILLED SET DUE DATE*** --
							SET @Del_Date = @Due_Date
							SET @Pram = 2
							BREAK
						END				 

					FETCH NEXT FROM db_Cursor INTO @Row, @Due_Date, @PO_QTY
				END

				CLOSE db_Cursor
				DEALLOCATE db_Cursor
			END
	END

--=================================================================================================================================
-- SHOW RESULTS
--=================================================================================================================================

SELECT 
CAST(@Del_Date as date) as [Delivery_Date]
,@Pram as [Pram]


