USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Get_PO]    Script Date: 19/08/2025 12:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Get_PO]

@Session_Id VARCHAR(255)
,@Client VARCHAR(48)
,@Part VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Server VARCHAR(50)
DECLARE @Database VARCHAR(50)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(255)
DECLARE @Site VARCHAR(255)

--=================================================================================================================================
-- DELETE EXISTING VALUES
--=================================================================================================================================

DELETE OneStock_PO WHERE Session_Id = @Session_Id

--=================================================================================================================================
-- START
--=================================================================================================================================

SET @Connection_String = (SELECT '['+[Server]+ '].[' + [Database] + '].dbo' FROM OneStock_Clients WHERE [Description] = @Client)

SET @SQL = @SQL + 'INSERT INTO OneStock_PO'

--================================================================================================================================
-- SELECT CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

SELECT
			''' + @Session_Id + '''
			,RTRIM(pord_line.part) as [Part]
			,RTRIM(pord_line.ref_no) as [PO_Ref]
			,CAST(pord_line.date_promise as date) as [Due_Date]
			,CAST(ISNULL(pord_line.qty_received, 0) as float) as [QTY_Rec]
			,CAST(ISNULL(pord_line.qty, 0) - ISNULL(pord_line.qty_received, 0) as float) as [QTY_Out]

'
--================================================================================================================================
-- FROM CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

FROM 
			' + @Connection_String + '.pord_line
WHERE 
			ISNULL(pord_line.qty, 0) - ISNULL(pord_line.qty_received, 0) > 0	
			AND pord_line.part = ''' + @Part + '''
			AND pord_line.status NOT IN (200,220)

'

--================================================================================================================================
-- EXECUTE DYNAMIC SQL
--================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)

--================================================================================================================================
-- SHOW RESULTS
--================================================================================================================================

SELECT 
			[PO_Ref]
			,[Due_Date] as [Due]
			
			,[QTY_Out] as [QTY]
FROM 
			OneStock_PO 
WHERE 
			Session_Id = @Session_Id
ORDER BY 
[Due_Date]