USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Get_Part]    Script Date: 19/08/2025 12:39:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Get_Part]

@Session_Id VARCHAR(255)
,@Client VARCHAR(48)
,@Part VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Server VARCHAR(50)
DECLARE @Database VARCHAR(50)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(255)
DECLARE @Site VARCHAR(255)

--=================================================================================================================================
-- DELETE EXISTING VALUES
--=================================================================================================================================

DELETE OneStock_Headers WHERE Session_Id = @Session_Id

--=================================================================================================================================
-- START
--=================================================================================================================================

SET @Connection_String = (SELECT '['+[Server]+ '].[' + [Database] + '].dbo' FROM OneStock_Clients WHERE [Description] = @Client)

SET @SQL = @SQL + 'INSERT INTO OneStock_Headers'

--================================================================================================================================
-- SELECT CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

SELECT
			''' + @Session_Id + '''
			,RTRIM(part.part) as [Part]
			,RTRIM(part.descr) as [Description]
			,CASE 
					WHEN part.[status] = 20 THEN ''Active''
					WHEN part.[status] = 90 THEN ''Obsolete''
					ELSE RTRIM(part.[status])
			END as [Status]
			,CASE
					WHEN part.obs_code = 0  THEN ''None''
					WHEN part.obs_code = 1  THEN ''Obsolete''
					WHEN part.obs_code = 2  THEN ''Planned Obsolete''
					WHEN part.obs_code = 3  THEN ''Planned Obsolete On Date''
					WHEN part.obs_code = 4  THEN ''Planned Obsolete On Stock Runout''
					ELSE RTRIM(part.obs_code)
			END as [Obs Code]
			,RTRIM(ISNULL(part_attr.code1, '''')) as [Attribute 1]
			,RTRIM(ISNULL(part_attr.code2, '''')) as [Attribute 2]

'

--================================================================================================================================
-- BARCODE
--================================================================================================================================

SET @SQL = @SQL +

'
			,ISNULL(
					(
						SELECT TOP 1 
									RTRIM(bcode)
						FROM 
									' + @Connection_String + '.part_barc 
						WHERE 
									part.part = part_barc.part 
						ORDER BY 
									LEN(bcode) desc
					), ''''
			) as Barcode
'

--================================================================================================================================
-- FREE STOCK
--================================================================================================================================

SET @SQL = @SQL +

'
			,ISNULL(
					(
						SELECT 
									SUM(ISNULL(qty, 0)) 
						FROM 
									' + @Connection_String + '.part_bins 
						JOIN
									' + @Connection_String + '.stor ON part_bins.store = stor.store 
						WHERE 
									part.part = part_bins.part
									AND (ISNULL(stor.sales,0) = 1 OR part_bins.store LIKE ''%DESP'')
									--AND (part_bins.store LIKE ''%MAIN%''
									--	OR part_bins.store LIKE ''%BULK%''
									--	OR part_bins.store LIKE ''%DESP%''
									--	) 

					), 0
			) 
			-
			ISNULL(
					(
						SELECT 
									SUM(ISNULL(qty, 0)) 
						FROM 
									' + @Connection_String + '.sord_schd 
						WHERE 
									sord_schd.part = part.part 
									AND sord_schd.status NOT IN (200,220)
					), 0
			) as [QTY Demand]
'

--================================================================================================================================
-- QTY ON HAND
--================================================================================================================================

SET @SQL = @SQL +

'
			,ISNULL(
					(
						SELECT 
									SUM(ISNULL(qty, 0)) 
						FROM 
									' + @Connection_String + '.part_bins 
						WHERE 
									part.part = part_bins.part
									AND store NOT LIKE ''%DESP%''
									AND store NOT LIKE ''%MIS%''
									AND store NOT LIKE ''GI%''
									
					), 0
			) as [QTY On Hand]
'

--================================================================================================================================
-- QTY IN QUAR
--================================================================================================================================

SET @SQL = @SQL +

'
			,ISNULL(
					(
						SELECT 
									SUM(ISNULL(qty, 0)) 
						FROM 
									' + @Connection_String + '.part_bins 
						WHERE 
									part.part = part_bins.part 
									AND store LIKE ''%QUAR%''
					), 0
			) as [QTY In Quar]
'

--================================================================================================================================
-- ALLOCATED QTY
--================================================================================================================================

SET @SQL = @SQL +

'
			,ISNULL(
					(
						SELECT 
									SUM(ISNULL(allocated_qty, 0)) 
						FROM 
									' + @Connection_String + '.part_bins 
						WHERE 
									part.part = part_bins.part
					), 0
			) as [QTY Allocated]
'
			
--================================================================================================================================
-- ON DEMAND
--================================================================================================================================

SET @SQL = @SQL +

'
			,ISNULL(
					(
						SELECT 
									SUM(ISNULL(qty, 0)) 
						FROM 
									' + @Connection_String + '.sord_schd 
						WHERE 
									sord_schd.part = part.part 
									AND sord_schd.status NOT IN (200,220)
					), 0
			) as [QTY Demand]

'

--================================================================================================================================
-- STOCK IN GOODS IN
--================================================================================================================================

SET @SQL = @SQL +
'
			,ISNULL(
					(
						SELECT 
								SUM(ISNULL(qty, 0)) 
						FROM 
								' + @Connection_String + '.part_bins 
						WHERE 
								part.part = part_bins.part 
								AND store LIKE ''%GI%''
					), 0
			) as [QTY In GI]
'

--================================================================================================================================
-- QTY ON ORDER
--================================================================================================================================

SET @SQL = @SQL +
'
			,ISNULL(
					(
						SELECT
									SUM(ISNULL(qty, 0) - ISNULL(qty_received, 0))
						FROM 
									' + @Connection_String + '.pord_line 
						WHERE 
									ISNULL(qty, 0) - ISNULL(qty_received, 0) > 0
									AND pord_line.part = part.part
									AND pord_line.status NOT IN (200,220)
					), 0
			) as [QTY On Order]
'

--================================================================================================================================
-- IN DESPATCH
--================================================================================================================================

SET @SQL = @SQL +
'
			,ISNULL(
					(
						SELECT 
									SUM(ISNULL(qty, 0)) 
						FROM 
									' + @Connection_String + '.part_bins 
						WHERE 
									part.part = part_bins.part
									AND store LIKE ''%DESP%''
					), 0
			) as [QTY In Desp]
'

--================================================================================================================================
-- FROM CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

FROM 
			' + @Connection_String + '.part
			INNER JOIN ' + @Connection_String + '.part_attr on part.part = part_attr.part
WHERE 
			part.part = ''' + @Part + '''			

'

--================================================================================================================================
-- EXECUTE DYNAMIC SQL
--================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)

--================================================================================================================================
-- SHOW RESULTS
--================================================================================================================================

SELECT 
			* 
FROM 
			OneStock_Headers 
WHERE 
			Session_Id = @Session_Id