USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Get_Scripts]    Script Date: 19/08/2025 12:40:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Get_Scripts]

@Session_Id VARCHAR(255)
,@Client VARCHAR(48)
,@Part VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Server VARCHAR(50)
DECLARE @Database VARCHAR(50)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(255)
DECLARE @Site VARCHAR(255)

--=================================================================================================================================
-- DELETE EXISTING VALUES
--=================================================================================================================================

DELETE OneStock_Scripts WHERE Session_Id = @Session_Id

--=================================================================================================================================
-- START
--=================================================================================================================================

SET @Connection_String = (SELECT '['+[Server]+ '].[' + [Database] + '].dbo' FROM OneStock_Clients WHERE [Description] = @Client)

SET @SQL = @SQL + 'INSERT INTO OneStock_Scripts'

--================================================================================================================================
-- SELECT CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

SELECT
			''' + @Session_Id + '''			
			,RTRIM(part) as [Part]
			,RTRIM(activity_summary) as [Summary]
			,RTRIM(notes) as [Notes] 
			,CAST(from_date as date) as [Date_From]
			,CAST(to_date as date) as [Date_To]
'

--================================================================================================================================
-- FROM CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

FROM 
			' + @Connection_String + '.part_scpt
WHERE 
			part_scpt.part = ''' + @Part + '''

'

--================================================================================================================================
-- EXECUTE DYNAMIC SQL
--================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)

--================================================================================================================================
-- SHOW RESULTS
--================================================================================================================================

SELECT 
			[Notes] 
FROM 
			OneStock_Scripts 
WHERE 
			Session_Id = @Session_Id