USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Get_Smov]    Script Date: 19/08/2025 12:40:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Get_Smov]

@Session_Id VARCHAR(255)
,@Client VARCHAR(48)
,@Part VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Server VARCHAR(50)
DECLARE @Database VARCHAR(50)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(255)
DECLARE @Site VARCHAR(255)

--=================================================================================================================================
-- DELETE EXISTING VALUES
--=================================================================================================================================

DELETE OneStock_Smov WHERE Session_Id = @Session_Id

--=================================================================================================================================
-- START
--=================================================================================================================================

SET @Connection_String = (SELECT '['+[Server]+ '].[' + [Database] + '].dbo' FROM OneStock_Clients WHERE [Description] = @Client)

SET @SQL = @SQL + 'INSERT INTO OneStock_Smov'

--================================================================================================================================
-- SELECT CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'
SELECT 
			''' + @Session_Id + '''
			,CASE 
					WHEN neg.qty IS NOT NULL AND pos.qty IS NOT NULL THEN
					RTRIM(neg.user_id) + '' moved '' + 
					RTRIM(CAST(ABS(neg.qty) as numeric)) + 
					'' From location '' + RTRIM(neg.store) + '' - '' + RTRIM(neg.bin) + 
					'' to location '' + RTRIM(pos.store) + '' - '' + RTRIM(pos.bin)
        
					WHEN neg.qty IS NOT NULL AND pos.qty IS NULL THEN
					RTRIM(neg.user_id) + '' moved '' + 
					RTRIM(CAST(ABS(neg.qty) as numeric)) + 
					'' From location '' + RTRIM(neg.store) + '' - '' + RTRIM(neg.bin)
        
					WHEN pos.qty IS NOT NULL AND neg.qty IS NULL THEN
					RTRIM(pos.user_id) + '' moved '' + 
					RTRIM(CAST(pos.qty as numeric)) + 
					'' To location '' + RTRIM(pos.store) + '' - '' + RTRIM(pos.bin)  
		      
					ELSE ''Unknown movement''
			END AS [Summary]

			,ISNULL(RTRIM(neg.document), RTRIM(pos.document)) as [Document]

			,RTRIM(ISNULL(neg.tkey, '''')) as [Issue Trans Key]
			,RTRIM(ISNULL(pos.tkey, '''')) as [Receipt Trans Key]

			,CAST(ISNULL(neg.qty, 0) AS float) as [Issued Qty]
			,CAST(ISNULL(pos.qty, 0) AS float) as [Received Qty]

			,CASE
					WHEN RTRIM(ISNULL(neg.trans, '''')) = ''UPLISS'' THEN ''Unplanned Issue''
					WHEN RTRIM(ISNULL(neg.trans, '''')) = ''SALISS'' THEN ''Sales Issue''
					WHEN RTRIM(ISNULL(neg.trans, '''')) = ''TRAREC'' THEN ''Planned Receipt''
					WHEN RTRIM(ISNULL(neg.trans, '''')) = ''TRAISS'' THEN ''Planned Issue''
					WHEN RTRIM(ISNULL(neg.trans, '''')) = ''PURREC'' THEN ''Goods In Receipt''
					WHEN RTRIM(ISNULL(neg.trans, '''')) = ''UPLREC'' THEN ''Unplanned Receipt''
					WHEN RTRIM(ISNULL(neg.trans, '''')) = ''SALRET'' THEN ''Sales Receipt''
					ELSE RTRIM(ISNULL(neg.trans, ''''))
			END as [Issue Type]
			,CASE
					WHEN RTRIM(ISNULL(pos.trans, '''')) = ''UPLISS'' THEN ''Unplanned Issue''
					WHEN RTRIM(ISNULL(pos.trans, '''')) = ''SALISS'' THEN ''Sales Issue''
					WHEN RTRIM(ISNULL(pos.trans, '''')) = ''TRAREC'' THEN ''Planned Receipt''
					WHEN RTRIM(ISNULL(pos.trans, '''')) = ''TRAISS'' THEN ''Planned Issie''
					WHEN RTRIM(ISNULL(pos.trans, '''')) = ''PURREC'' THEN ''Goods In Receipt''
					WHEN RTRIM(ISNULL(pos.trans, '''')) = ''UPLREC'' THEN ''Unplanned Receipt''
					WHEN RTRIM(ISNULL(pos.trans, '''')) = ''SALRET'' THEN ''Sales Receipt''
					ELSE RTRIM(ISNULL(pos.trans, ''''))
			END as [Receipt Type]

			,neg.last_updated as [Issue Time]
			,pos.last_updated as [Receipt Time]

			,RTRIM(ISNULL(neg.user_id, pos.user_id)) as [User]

			,(SELECT SUM(s.qty) FROM ' + @Connection_String + '.smov as s WHERE s.part = ''' + @Part  + ''') as [Total Current Stock]
			,RTRIM(neg.store) + '' - '' + RTRIM(neg.bin) as [Bin From]
			,RTRIM(pos.store) + '' - '' + RTRIM(pos.bin) as [Bin to]

FROM 
			(
				SELECT 
							* 
				FROM 
							' + @Connection_String + '.smov 
				WHERE 
							part = ''' + @Part  + '''
							AND qty < 0
			) neg
			FULL OUTER JOIN 
			(
				SELECT 
							* 
				FROM 
							' + @Connection_String + '.smov 
				WHERE 
							part = ''' + @Part  + ''' 
							AND qty > 0
			) pos	ON neg.document = pos.document AND ISNULL((neg.qty*-1), pos.qty) = ISNULL(pos.qty, (neg.qty*-1))
ORDER BY 
			ISNULL(neg.last_updated, pos.last_updated) DESC		

'

--================================================================================================================================
-- EXECUTE DYNAMIC SQL
--================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)

--================================================================================================================================
-- SHOW RESULTS
--================================================================================================================================

SELECT 
			
			OneStock_Smov.[Summary]
			,ISNULL(OneStock_Smov.[Issue Time], OneStock_Smov.[Receipt Time]) as [Trans Time]
			,OneStock_Smov.[User]
			,CAST(OneStock_Smov.[Issued Qty] as numeric) as [Issued Qty]
			,CAST(OneStock_Smov.[Received Qty] as numeric) as [Received Qty]
			,OneStock_Smov.[Issue Time]
			,OneStock_Smov.[Receipt Time]
			,OneStock_Smov.[Issue Type]
			,OneStock_Smov.[Receipt Type]
			,OneStock_Smov.[Document]
			,OneStock_Smov.[Bin From]
			,OneStock_Smov.[Bin to]
FROM 
			OneStock_Smov 
WHERE 
			Session_Id = @Session_Id
ORDER BY 
			ISNULL(OneStock_Smov.[Issue Time], OneStock_Smov.[Receipt Time]) DESC	