USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Get_Stock]    Script Date: 19/08/2025 12:40:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Get_Stock]

@Session_Id VARCHAR(255)
,@Client VARCHAR(48)
,@Part VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Server VARCHAR(50)
DECLARE @Database VARCHAR(50)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(255)
DECLARE @Site VARCHAR(255)

--=================================================================================================================================
-- DELETE EXISTING VALUES
--=================================================================================================================================

DELETE OneStock_Stock WHERE Session_Id = @Session_Id

--=================================================================================================================================
-- START
--=================================================================================================================================

SET @Connection_String = (SELECT '['+[Server]+ '].[' + [Database] + '].dbo' FROM OneStock_Clients WHERE [Description] = @Client)

SET @SQL = @SQL + 'INSERT INTO OneStock_Stock'

--================================================================================================================================
-- SELECT CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

SELECT
			''' + @Session_Id + '''
			,RTRIM(part_bins.part) as Part
			,RTRIM(part_bins.Store) as Store
			,RTRIM(part_bins.bin) as Bin
			,CAST(part_bins.qty as float) as [Qty]
			,RTRIM(lot) as [Lot]
			,CAST(part_bins.dt_l_iss as date) as [Date Last Issued]

'
--================================================================================================================================
-- FROM CLAUSE
--================================================================================================================================

SET @SQL = @SQL +
'

FROM 
			' + @Connection_String + '.part_bins
			INNER JOIN ' + @Connection_String + '.bins_lots on part_bins.store = bins_lots.store 
			AND part_bins.bin = bins_lots.bin 
			AND part_bins.part = bins_lots.part
WHERE 
			part_bins.part = ''' + @Part + '''	
			AND part_bins.store NOT LIKE ''%DESP%''
			AND part_bins.store NOT LIKE ''%GI%''
			AND part_bins.qty > 0
ORDER BY
			part_bins.store DESC


'

--================================================================================================================================
-- EXECUTE DYNAMIC SQL
--================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)

--================================================================================================================================
-- SHOW RESULTS
--================================================================================================================================

SELECT 
			[Store]
			,[Bin]
			,[Qty]
			,[Lot]
			,DT_Last_Iss as [Last Issued]
FROM 
			OneStock_Stock 
WHERE 
			Session_Id = @Session_Id
ORDER BY
			Store DESC, DT_Last_Iss DESC