USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSBC_Assign_Bcode]    Script Date: 19/08/2025 12:41:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSBC_Assign_Bcode]

@Client VARCHAR(255)
,@Sku VARCHAR(255)
,@Bcode VARCHAR(255)
,@User VARCHAR(100)

AS

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											OneStock_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- RECORD BARCODE ATTEMPT
--=================================================================================================================================

INSERT INTO [OSBC_Barcodes]
(
	[Client]
	,[Bcode]
	,[Part]
	,[DT_created]
	,[User_Created]
	,[Status]
)
VALUES
(
	@Client
	,@Bcode
	,@Sku
	,GETDATE()
	,@User
	,30
)

--=================================================================================================================================
-- DYNAMIC QUERY (ATTEMPT INSERT RECORD)
--=================================================================================================================================

SET @SQL = @SQL + 

'
IF EXISTS (SELECT 1 FROM ' + @Connection_String + '.part WHERE part = ''' + @Sku + ''')
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM ' + @Connection_String + '.part_barc WHERE part = ''' + @Sku + ''' AND bcode = ''' + @Bcode + ''')
			BEGIN
				INSERT INTO ' + @Connection_String + '.part_barc
				(
					[bcode]
					,[Part]
					,[shop_reqd]
					,[wh_reqd]
					,[u_version]
					,[dt_created]
					,[last_updated]
					,[last_upd_user]
				)
				VALUES
				(
					''' + @Bcode + '''
					,''' + @Sku + '''
					,''1''
					,''1''
					,''!''
					,GETDATE()
					,GETDATE()
					,''' + @User + '''
				)
			END
	END
'

--=================================================================================================================================
-- DYNAMIC QUERY (CHECK IF BCODE RECORDED)
--=================================================================================================================================

SET @SQL = @SQL + 

'

DECLARE @COUNT INT = (SELECT COUNT(*) FROM ' + @Connection_String + '.part_barc WHERE part = ''' + @Sku + ''' AND bcode = ''' + @Bcode + ''')

IF @COUNT = 1
	BEGIN 
		UPDATE 
				[OSBC_Barcodes] 
		SET 
				[Status] = 220 -- SUCCESS
		WHERE 
				[Client] = ''' + @Client + '''
				AND [Part] = ''' + @Sku + '''
				AND [Bcode] = ''' + @Bcode + '''

		SELECT ''1'' as [OUTPUT]
	END
ELSE
	BEGIN 
		UPDATE 
				[OSBC_Barcodes] 
		SET 
				[Status] = 200 -- FAILED
		WHERE 
				[Client] = ''' + @Client + '''
				AND [Part] = ''' + @Sku + '''
				AND [Bcode] = ''' + @Bcode + '''

		SELECT ''0'' as [OUTPUT]
	END

'
--=================================================================================================================================
-- PRINT & EXECUTE QUERY
--=================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)