USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSBC_Check_Bcode]    Script Date: 19/08/2025 12:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSBC_Check_Bcode]

@Client VARCHAR(255)
,@Bcode VARCHAR(255)

AS

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											OneStock_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- DYNAMIC QUERY
--=================================================================================================================================

SET @SQL = @SQL + 
'
SELECT
''' + @Bcode +''' as [0]
,(
	SELECT 
				COUNT(*)
	FROM
				' + @Connection_String + '.part
				INNER JOIN ' + @Connection_String + '.part_barc on part.part = part_barc.part
	WHERE 
				part_barc.bcode =  ''' + @Bcode + '''
) as [1]
,(
	SELECT TOP 1
				ISNULL(RTRIM(part.part), '''')

	FROM
				' + @Connection_String + '.part
				INNER JOIN ' + @Connection_String + '.part_barc on part.part = part_barc.part
	WHERE 
				part_barc.bcode =  ''' + @Bcode + '''
	ORDER BY part_barc.last_updated DESC
) as [2]
,(
	SELECT TOP 1
				ISNULL(RTRIM(part.descr), '''')

	FROM
				' + @Connection_String + '.part
				INNER JOIN ' + @Connection_String + '.part_barc on part.part = part_barc.part
	WHERE 
				part_barc.bcode =  ''' + @Bcode + '''
	ORDER BY part_barc.last_updated DESC
) as [3]
'

--=================================================================================================================================
-- PRINT & EXECUTE QUERY
--=================================================================================================================================

PRINT (@SQL)
EXECUTE (@SQL)