USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Insert]    Script Date: 19/08/2025 12:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Insert]

@Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@Reference VARCHAR(24)
,@Search VARCHAR(24)

as

--===================================================================================================================
-- DECLARE VARIABLES
--===================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Number INT
DECLARE @Override INT = (SELECT [Override] FROM [OneStock_Clients] WHERE [Description] = @Client)
DECLARE @Connection_String VARCHAR(MAX)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											OneStock_Clients 
								WHERE 
											[Description] = @Client
							)


--===================================================================================================================
-- CHECK REFERENCE
--===================================================================================================================

IF EXISTS (SELECT 1 FROM OSPA WHERE Reference = @Reference)
	BEGIN 
		SET @Reference = @Reference
	END
ELSE
	BEGIN 
		SET @Number = 
		ISNULL(
				(
					SELECT TOP 1 
								CAST(RIGHT(Reference, 4) AS INT) 
					FROM 
								OSPA 
					ORDER BY 
								CAST(RIGHT(Reference, 4) AS INT) DESC
				), 0
		) + 1

		SET @Reference = 'OSPA' + RIGHT(CONCAT('0000', @Number), 4)

		INSERT INTO OSPA 
			(
			[Reference]
			,[Client]
			,[Session_Id]
			,[Lines]
			,[Units]
			,[Walks]
			,[DT_Created]
			,[Last_Updated]
			,[Status]
			)
		VALUES
			(
			@Reference
			,@Client
			,@Session_Id
			,0
			,0
			,0
			,GETDATE()
			,GETDATE()
			,30
			)
	END


--===================================================================================================================
-- GET PART
--===================================================================================================================

SET @SQL = @SQL + 

'
DECLARE @Part VARCHAR(24) 
SET @Part =
		ISNULL(
				(
					SELECT TOP 1 
								RTRIM(part) as [Part] 
					FROM 
								' + @Connection_String + '.part_barc 
					WHERE 
								part = ''' + @Search  + '''
								OR bcode = ''' + @Search  + '''
				), '''+ @Search + '''
		)
'

--===================================================================================================================
-- GET BIN DATA
--===================================================================================================================

SET @SQL = @SQL + 
'

INSERT INTO OSPA_TEMP

SELECT
			''' + @Reference + '''
			,(SELECT TOP 1 bcode FROM ' + @Connection_String + '.part_barc WHERE part.part = part_barc.part ORDER BY DT_Created DESC)
			,RTRIM(part.part) as [Part]
			,RTRIM(part.descr) as [Description]
			,RTRIM(
				CASE
						WHEN ' + RTRIM(@Override) + ' = 1 THEN ISNULL(OSPA_Over.Store, ISNULL(part_plan.def_store, ''No Default''))
						ELSE ISNULL(part_plan.def_store, ''No Default'')
				END 
			) as [Store]
			,RTRIM(
				CASE
						WHEN ' + RTRIM(@Override) + ' = 1 THEN ISNULL(OSPA_Over.Bin, ISNULL(part_plan.def_bin, ''No Default''))
						ELSE ISNULL(part_plan.def_bin, ''No Default'')
				END 
			) as [Bin]
			,GETDATE()
FROM 
			' + @Connection_String + '.part
			LEFT JOIN ' + @Connection_String + '.part_plan on part.part = part_plan.part
			LEFT JOIN OSPA_Over ON OSPA_Over.Part = part.part AND OSPA_Over.Client = ''' + @Client + '''		
WHERE 
			part.part = @Part

'

--===================================================================================================================
-- PRINT & EXECUTE SQL
--===================================================================================================================

--SELECT
--@Session_Id 
--,@Client 
--,@Reference 
--,@Search 
--,@Number
--,@Override

PRINT (@SQL)
EXECUTE (@SQL)


--===================================================================================================================
-- UPDATE HEADER
--===================================================================================================================

UPDATE 
		OSPA
SET 
		Lines = (SELECT COUNT(DISTINCT part) FROM OSPA_TEMP WHERE Reference = @Reference)
		,Units = (SELECT COUNT(part) FROM OSPA_TEMP WHERE Reference = @Reference)
		,Walks = 1 + ((SELECT COUNT(DISTINCT part) FROM OSPA_TEMP WHERE Reference = @Reference) / 6)
		,Last_Updated = GETDATE()
WHERE 
		Reference = @Reference