USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Move_Stock]    Script Date: 19/08/2025 12:42:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Move_Stock]
--ALTER PROC [dbo].[OSPA_Move_Stock_Test]

@Session_Id VARCHAR(255)
,@User VARCHAR(255)
,@Ref VARCHAR(255)
,@Part VARCHAR(255)

as

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 17: PROCEDURE STARTED'

/*
Aurthor: JIMMY TRIMBLE
Edited: AIDEN BOND
Date: 07/05/2025
NOTES: 

Program flow
Check reason
Update line status (To be added to table)
Stop for any rejected lines
Error checks
Update elucid tables
Update OSPA records

RETURNS 0 if successful, 1 if there has been an error
*/

--========================================================================================================================
-- Declare all the connection variables and the error variables
--========================================================================================================================

DECLARE @Client VARCHAR(255) = (SELECT Client FROM OSPA WHERE Reference = @Ref)
DECLARE @Reason VARCHAR(255) = ''
DECLARE @Connection_String VARCHAR(MAX) = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											OneStock_Clients 
								WHERE 
											[Description] = @Client
							)
DECLARE @site varchar(100) = (SELECT [Site] FROM OneStock_Clients WHERE Description = @Client)
DECLARE @Lot int
DECLARE @nonstock int
DECLARE @elbin varchar(30)
DECLARE @error varchar(MAX)
DECLARE @Qty int = (SELECT QTY FROM OSPA_Line WHERE Part = @Part AND Reference = @Ref)
DECLARE @Store VARCHAR(24) = (SELECT REPLACE(REPLACE(store, CHAR(13), ''), CHAR(10), '') FROM OSPA_Line WHERE Part = @Part AND Reference = @Ref)
DECLARE @Bin VARCHAR(24) = (SELECT REPLACE(REPLACE(Bin, CHAR(13), ''), CHAR(10), '') FROM OSPA_Line WHERE Part = @Part AND Reference = @Ref)
DECLARE @Status int = (SELECT [Status] FROM OSPA_Line WHERE Reference = @Ref AND part = @Part)

DECLARE @SQL_errs varchar(MAX) = ''
DECLARE @SQL_irsn varchar(MAX) = ''
DECLARE @SQL_smov varchar(MAX) = ''

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 70: PARAMETERS DECLARED & SET'

--========================================================================================================================
-- Checking reason code exists, creating if not
--========================================================================================================================

SET @SQL_irsn = @SQL_irsn + '

INSERT INTO ' + @Connection_String + '.irsn
	SELECT 
				String_1
				,String_2
				,''!''
				,1
				,1
				,1
				,CAST(GETDATE() as smalldatetime)
				,''OSPA''
				,CAST(GETDATE() as smalldatetime)
	FROM 
				OneStock_Parameters
	WHERE 
				String_1 NOT IN (SELECT reason FROM ' + @Connection_String + '.irsn)
'
PRINT (@SQL_irsn)
EXEC (@SQL_irsn)
PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 96: SET & EXECUTED @SQL_irsn'

--========================================================================================================================
-- If status is 200, line has been rejected by user - exit successfully
--========================================================================================================================

IF @Status = 200 --TBC
BEGIN
	SELECT 
	'OSPA Ref ''' + @Ref + ''' Part ''' + @Part + ''' - Line Rejected by User' AS [Output],
	0  AS [Error]
	RETURN
END

-- RESET STATUS IF ERROR --
IF @Status = 210
BEGIN 
UPDATE 
		OSPA_Line
SET 
		[Status] = 40
WHERE 
		Reference = @Ref
		AND Part = @Part
	
END

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 110: CHECKED STATUS'


--========================================================================================================================
-- Check for errors
--========================================================================================================================

SET @SQL_errs = @SQL_errs + '

INSERT INTO OSPA_TPMS
SELECT
			part.lot_control as Lot
			,part_plan.non_stock as NonStock
			,(
				SELECT TOP 1 
							bin 
				FROM 
							' + @Connection_String + '.part_bins 
				WHERE 
							part_bins.part = part.part
							AND bin = ''' + @Bin + ''' 
							AND store = ''' + @Store + '''
			) as [ElBin]
FROM 
			' + @Connection_String + '.part
			LEFT JOIN ' + @Connection_String + '.part_plan on part.part = part_plan.part
WHERE 
			part.part = ''' + @Part + '''
'

PRINT (@SQL_errs)
EXEC (@SQL_errs)

SET @lot = (SELECT TOP 1 Lot FROM OSPA_TPMS)
SET @nonstock = (SELECT TOP 1 NonStock FROM OSPA_TPMS)
SET @elbin = (SELECT TOP 1 ElBin FROM OSPA_TPMS)

TRUNCATE TABLE OSPA_TPMS

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 156: EXECUTED @SQL_errs PLUS LOGIC'


--========================================================================================================================
-- Create error message and set status if any of the variables are in an "error" state
--========================================================================================================================

IF @lot = 1
BEGIN
	SET @Status = 210
	SET @error = CASE WHEN @error IS NULL THEN 'Item is Lot Controlled' ELSE '|Item is Lot Controlled' END
END

IF @nonstock = 1
BEGIN
	SET @Status = 210
	SET @error = CASE WHEN @error IS NULL THEN 'Item is not a stock item' ELSE '|Item is not a stock item' END
END

IF @Store IS NULL OR @Bin IS NULL
BEGIN
	SET @Status = 210
	SET @error = CASE WHEN @error IS NULL THEN 'Store/Bin not provided' ELSE '|Store/Bin not provided' END
END

IF @elbin IS NULL
BEGIN
	SET @Status = 210
	SET @error = CASE WHEN @error IS NULL THEN 'Store/Bin does not exist' ELSE '|Store/Bin does not exist' END
END

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 186: EVALUATED ERROR PARAMETERS'

--========================================================================================================================
-- reupdate status, to add error status if necessary
--========================================================================================================================

UPDATE 
		OSPA_Line
SET 
		[Status] = @Status
WHERE 
		Reference = @Ref
		AND Part = @Part

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 200: UPDATED LINE STATUS INCASE OF ERROR'

--========================================================================================================================
--if error, return error code and exit with a failure
--========================================================================================================================

IF @Status = 210
BEGIN
	SELECT 
	'OSPA Ref ''' + ISNULL(@Ref, '') + ''' Part ''' + ISNULL(@Part, '') + ''' update failed - ' + ISNULL(@error, '') as [Output],
	1 as [Error]
	PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 210: FAIL IF THERE IS AN ERROR'
	RETURN
END

--========================================================================================================================
-- TKEY GENERATION
--========================================================================================================================

DECLARE @tkey VARCHAR(22)
DECLARE @DateTime DATETIME2(7) = SYSUTCDATETIME()

-- yyyyMMddHHmmss
DECLARE @BaseTime VARCHAR(14) = FORMAT(@DateTime, 'yyyyMMddHHmmss')

-- Fractional seconds (up to 7 digits = 100 nanoseconds)
DECLARE @Fraction VARCHAR(8) = RIGHT('0000000' + CAST(DATEPART(NANOSECOND, @DateTime) AS VARCHAR), 7)

-- Combine to form 22-digit TKey
SET @tkey = @BaseTime + LEFT(@Fraction, 8)

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 233: TKEY GENERATED'

--========================================================================================================================
-- Set up SQL to do all the stock updates on the appropriate site
--========================================================================================================================

SET @SQL_smov = @SQL_smov + '

	UPDATE 
			' + @Connection_String + '.part_bins
	SET 
			qty = qty + ' + RTRIM(@Qty) + '
	WHERE 
			part = ''' + @part + '''
			AND bin = ''' + @bin + '''
			AND store = ''' + @Store + '''
		
	UPDATE 
			' + @Connection_String + '.part_bins
	SET 
			free_stock = qty - allocated_qty
	WHERE 
			part = ''' + @part + '''
			AND bin = ''' + @bin + '''
			AND store = ''' + @Store + '''
		
	UPDATE 
			' + @Connection_String + '.bins_lots
	SET 
			qty = qty + ' + RTRIM(@Qty) + '
			, act_qty = ' + RTRIM(@Qty) + '
	WHERE 
			part = ''' + @part + '''
			AND lot = ''' + @part + '''
			AND bin = ''' + @bin + '''
			AND store = ''' + @Store + '''

	INSERT INTO ' + @Connection_String + '.smov 
	(
		tkey
		,u_version
		,session_id
		,sess_line
		,extract_flag
		,last_updated
		,last_upd_user
		,document
		,doc_line
		,level_1
		,level_2
		,issue
		,trans
		,store
		,bin
		,lot
		,part
		,qty
		,act_qty
		,unit
		,act_unit
		,conversion
		,user_id
		,reason
		,reversed
		,trans_date
		,trans_time
		,cost
		,qty_oh
	)
	

	SELECT  
				''' + @tkey + ''' as tkey
				,''!'' as u_version
				,''' + @tkey + ''' as session_id
				,''1'' as sess_line
				,''0'' as extract_flag
				,CAST(GETDATE() as smalldatetime) as last_updated
				,''' + @User + ''' as last_upd_user
				,''' + @Ref + ''' as document
				,(SELECT MAX(ISNULL(doc_line,0))+ 1 FROM ' + @Connection_String + '.smov WHERE document = ''' + @Ref + ''') as doc_line
				,''' + @Site + ''' as level_1
				,''GROUP'' as level_2
				,''0'' as issue
				,''UPLREC'' as trans
				,''' + @Store + ''' as store
				,''' + @Bin + ''' as bin
				,''' + @part + ''' as lot
				,''' + @part + ''' as part
				,''' + RTRIM(@Qty) + ''' as qty
				,''' + RTRIM(@Qty) + ''' as act_qty
				,''EA'' as unit
				,''EA'' as act_unit
				,''1'' as conversion
				,''' + @User  + ''' as user_id
				,''' + @Reason + ''' as reason
				,''0'' as reversed
				,CAST(GETDATE() as date) as trans_date
				,CAST(GETDATE() as time) as trans_time
				,''0'' as cost
				,(SELECT qty FROM ' + @Connection_String + '.part_bins WHERE part = ''' + @part + ''' AND bin = ''' + @bin + ''' AND store = ''' + @store + ''') as qty_oh

		'

		-- PRINT & EXECUTE
		PRINT(@SQL_smov)
		EXECUTE (@SQL_smov)

		PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 330: SMOV RECORED CREATED AND STOCK MOVEMENT EXECUTED'

		-- UPDATE LINE
		UPDATE
				OSPA_Line
		SET 
				[status] = 220				
		WHERE 
				Reference = @Ref
				AND Part = @Part
				
		-- SHOW RESULT
		SELECT 
				'OSPA Ref ''' + @Ref + ''' Part ''' + @Part + ''' - Line Updated Successfully' AS [Output],
				0 as [Error]
		

--========================================================================================================================
-- UPDATE HEADERS
--========================================================================================================================

DECLARE @CompLines INT = (SELECT COUNT(Part) FROM OSPA_Line WHERE Reference = @Ref AND [Status] = 220)
DECLARE @TotalLines INT = (SELECT COUNT(Part) FROM OSPA_Line WHERE Reference = @Ref)

IF @CompLines = @TotalLines
	BEGIN 
		UPDATE 
				OSPA
		SET 
				Status = 220
		WHERE 
				Reference = @Ref
	END
ELSE
	BEGIN 
		UPDATE 
				OSPA
		SET 
				Status = 80
		WHERE 
				Reference = @Ref
	END

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 409: HEADERS UPDATED'