USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Over_Update]    Script Date: 19/08/2025 12:43:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Over_Update] 

@Client VARCHAR(255)
,@Over INT
,@User VARCHAR(100)

as

--===================================================================================================================
-- UPDATE CLIENT RECORD
--===================================================================================================================

UPDATE 
			OneStock_Clients
Set 
			[Override] = @Over
			,Last_Upd_User = @User
			,Last_Updated = GETDATE()
WHERE 
			[Description] = @Client
