USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_DELETE]    Script Date: 19/08/2025 12:42:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_DELETE]

@Reference VARCHAR(24)
,@Part VARCHAR(24)

as

--===================================================================================================================
-- DELETE RECORD
--===================================================================================================================

DELETE TOP (1)
			OSPA_TEMP 
WHERE 
			Reference = @Reference 
			AND Part = @Part

--===================================================================================================================
-- UPDATE HEADER
--===================================================================================================================

UPDATE 
		OSPA
SET 
		Lines = ISNULL((SELECT COUNT(DISTINCT part) FROM OSPA_TEMP WHERE Reference = @Reference), 0)
		,Units = ISNULL((SELECT COUNT(part) FROM OSPA_TEMP WHERE Reference = @Reference), 0)
		,Walks = ISNULL(1 + ((SELECT COUNT(DISTINCT part) FROM OSPA_TEMP WHERE Reference = @Reference) / 6), 0)
		,Last_Updated = GETDATE()
WHERE 
		Reference = @Reference