USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Clear_Session]    Script Date: 19/08/2025 12:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Clear_Session]

@Session_Id VARCHAR(255)

as

--===================================================================================================================
-- DELETE TEMP DATA
--===================================================================================================================

DELETE 
		OSPA_TEMP
WHERE 
		Reference IN 
		(
			SELECT
						Reference 
			FROM 
						OSPA 
			WHERE 
						[Status] = 30 
						AND Session_Id = @Session_Id
		)

--===================================================================================================================
-- CANCEL HEADER RECORDS
--===================================================================================================================

UPDATE 
		OSPA 
SET 
		[Status] = 200
WHERE 
		Session_Id = @Session_Id
		AND [Status] = 30

--===================================================================================================================
-- REMOVE EMPTY PUTAWAYS
--===================================================================================================================

DELETE 
		OSPA 
WHERE 
		Lines = 0




