USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Gen_Walk]    Script Date: 19/08/2025 12:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Gen_Walk]

@Referece VARCHAR(24)

as

--===================================================================================================================
-- TRANSFER DATA
--===================================================================================================================

INSERT INTO OSPA_Line
(
[Reference]
,[Part]
,[Description]
,[Barcode]
,[Store]
,[Bin]
,[QTY]
,[Walk]
,[DT_Created]
,[Status]
)

SELECT
			RTRIM(OSPA_TEMP.[Reference]) as [Reference]
			,RTRIM(OSPA_TEMP.[Part]) as [Part]
			,OSPA_TEMP.[Description]
			,ISNULL(OSPA_TEMP.Barcode, '')
			,OSPA_TEMP.[Store]
			,OSPA_TEMP.[Bin]
			,(
				SELECT 
							COUNT(part) 
				FROM 
							OSPA_TEMP as MAIN 
				WHERE 
							MAIN.Reference = OSPA_TEMP.Reference 
							AND MAIN.Part = OSPA_TEMP.part
			) as [QTY]
			,CAST(
				CEILING(
					ROW_NUMBER() OVER (PARTITION BY OSPA_TEMP.Reference ORDER BY OSPA_TEMP.Store, OSPA_TEMP.Bin) / 6.0
				) AS VARCHAR
			) AS [Walk]  
			,MAX(OSPA_TEMP.DT_Created) as [DT_Created]
			,'40' as [Status]
FROM 
			OSPA
			INNER JOIN OSPA_TEMP on OSPA.Reference = OSPA_TEMP.Reference
WHERE 
			OSPA.[Status] NOT IN (200,220,40)
			AND OSPA.Reference = @Referece
GROUP BY 
			OSPA_TEMP.[Reference]
			,OSPA_TEMP.[Part]
			,OSPA_TEMP.[Description]
			,OSPA_TEMP.Barcode
			,OSPA_TEMP.[Store]
			,OSPA_TEMP.[Bin]
ORDER BY 
			OSPA_TEMP.Reference
			,OSPA_TEMP.Store
			,OSPA_TEMP.Bin


--===================================================================================================================
-- DELETE TEMP DATA A UPDATED HEADER STATUS
--===================================================================================================================

DELETE OSPA_TEMP WHERE Reference = @Referece

UPDATE 
		OSPA 
SET 
		[Status] = 40
WHERE 
		Reference = @Referece

--===================================================================================================================
-- SELECT QUERY
--===================================================================================================================

SELECT
			OSPA.Reference
			,OSPA.Client
			,OSPA_Line.Walk
			,OSPA_Line.Part
			,OSPA_Line.[Description]
			,OSPA_Line.Barcode
			,OSPA_Line.Store
			,OSPA_Line.bin
			,OSPA_Line.QTY
FROM 
			OSPA
			LEFT JOIN OSPA_Line on OSPA.Reference = OSPA_Line.Reference
WHERE 
			OSPA.Reference = @Referece
ORDER BY 
			OSPA_Line.Walk
			,OSPA_Line.Store
			,OSPA_Line.bin
