USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Over_Import]    Script Date: 19/08/2025 12:43:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Over_Import]

@Client VARCHAR(255)
,@Part VARCHAR(24)
,@Store VARCHAR(24)
,@Bin VARCHAR(24)


AS

INSERT INTO OSPA_Over
(
[Client]
,[Part]
,[Store]
,[Bin]
,[DT_Created]
)
VALUES
(
@Client 
,@Part 
,@Store 
,@Bin 
,GETDATE()
)



SELECT* FROM OSPA_Over