USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Over_Delete]    Script Date: 19/08/2025 12:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Over_Delete]

@Client VARCHAR(255)
,@Part VARCHAR(24)

AS

--===================================================================================================================
--REMOVE OVERRIDE RECORD
--===================================================================================================================

DELETE 
		OSPA_Over
WHERE 
		Client = @Client
		AND part = @Part