USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_Over_Insert]    Script Date: 19/08/2025 12:43:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_Over_Insert]

@Client VARCHAR(255)
,@Part VARCHAR(24)
,@Store VARCHAR(24)
,@Bin VARCHAR(24)

as

--===================================================================================================================
-- DECLARE VARIABLES
--===================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX)
SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											OneStock_Clients 
								WHERE 
											[Description] = @Client
							)

--===================================================================================================================
-- INSERT INTO OVERRIDE TABLE
--===================================================================================================================

IF ISNULL(@Part, '') <> ''
BEGIN
	SET @SQL = @SQL +
	'
	DECLARE @DYNO_PART VARCHAR(24) = 
	(
		SELECT TOP 1
					RTRIM(part.part) as [Part]
		FROM 
					' + @Connection_String + '.part
					LEFT JOIN ' + @Connection_String + '.part_barc on part.part = part_barc.part
		WHERE
					part.part = ''' + @Part + ''' OR part_barc.bcode = ''' + @Part + '''
	)
	DECLARE @DYNO_DESCR VARCHAR(100) = 
	(
		SELECT TOP 1
					RTRIM(part.descr) as [Description]
		FROM 
					' + @Connection_String + '.part
					LEFT JOIN ' + @Connection_String + '.part_barc on part.part = part_barc.part
		WHERE
					part.part = ''' + @Part + ''' OR part_barc.bcode = ''' + @Part + '''
	)


	IF EXISTS (SELECT 1 FROM OSPA_Over WHERE part = @DYNO_PART AND Client = ''' + @Client + ''')
		BEGIN
			UPDATE 
					OSPA_Over
			SET 
					Store = ''' + @Store + '''
					,Bin = ''' + @Bin + '''
					,DT_Created = GETDATE()
			WHERE 
					Part = @DYNO_PART
					AND Client = ''' + @Client + '''
		END
	ELSE
		BEGIN
			INSERT INTO OSPA_Over VALUES
			(
				''' + @Client + '''
				,@DYNO_PART
				,@DYNO_DESCR
				,''' + @Store + '''
				,''' + @Bin + '''
				,GETDATE()
			)
		END
	'

--===================================================================================================================
-- PRINT & EXECUTE SQL
--===================================================================================================================

	SELECT
				@Connection_String
				,@Part
				,@Client
				,@Store
				,@Bin
				,@SQL

	PRINT(@SQL)
	EXECUTE(@SQL)

END
