USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OSPA_comp_putaway]    Script Date: 19/08/2025 12:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OSPA_comp_putaway]

@Ref VARCHAR(255)

as

--========================================================================================================
-- DECLARE VAIRABLES
--========================================================================================================

DECLARE @CompLines INT = (SELECT COUNT(Part) FROM OSPA_Line WHERE Reference = @Ref AND [Status] = 220)
DECLARE @TotalLines INT = (SELECT COUNT(Part) FROM OSPA_Line WHERE Reference = @Ref)

--========================================================================================================
-- EVALUATE TOTALS
--========================================================================================================

IF @CompLines = @TotalLines
	BEGIN 
		UPDATE 
				OSPA
		SET 
				Status = 220
		WHERE 
				Reference = @Ref
	END
ELSE
	BEGIN 
		UPDATE 
				OSPA
		SET 
				Status = 80
		WHERE 
				Reference = @Ref
	END

--========================================================================================================
-- SHOW RESULTS
--========================================================================================================

PRINT RTRIM(FORMAT(GETDATE(), 'yyyyMMddHHmmss')) + ' - LINE 409: HEADERS UPDATED'

SELECT COUNT(*) FROM OSPA WHERE Reference = @Ref