USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[OneStock_Search]    Script Date: 19/08/2025 12:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[OneStock_Search]

@Client VARCHAR(48)
,@Search VARCHAR(100)


AS

--=================================================================================================================================
-- DECLARE VARIABLES
--=================================================================================================================================

DECLARE @Server VARCHAR(50)
DECLARE @Database VARCHAR(50)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(255)
DECLARE @Site VARCHAR(255)

--=================================================================================================================================
-- START
--=================================================================================================================================

SET @Connection_String = (SELECT '['+[Server]+ '].[' + [Database] + '].dbo' FROM OneStock_Clients WHERE [Description] = @Client)

SET @SQL = @SQL + 
'
IF EXISTS (SELECT part FROM ' + @Connection_String + '.part WHERE part = ''' + @Search + ''')

BEGIN 
	SELECT 
				''' + RTRIM(@Search) + ''' as [Result]
END

ELSE

BEGIN
	SELECT 
				ISNULL(
						(
							SELECT 
										RTRIM(part) as [Result]
							FROM 
										' + @Connection_String + '.part_barc 
							WHERE 
										bcode = ''' + @Search + '''
							), ''NO RESULT''
						) as [Result]
END

'

PRINT (@SQL)
EXECUTE (@SQL)